.root {
  padding: 0 20px;

  & > header,
  & > footer {
    padding: 40px 0;
  }

  & > footer {
    display: flex;
    justify-content: space-between;
  }
}

.about {
  display: flex;
  flex-direction: column;
}

.flags {
  svg {
    width: auto;
    height: 26px;
    margin: 0 2px;
  }
}

.successMessage {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.successMessageCircle {
  margin-right: 10px;
}

.purchaseSuccess {
  display: flex;
  flex-direction: column;
  height: 300px;
  background: #f7f7f7;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
